<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @room.rent %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @room.adress %>
</p>

<p>
  <strong>Age:</strong>
  <%= @room.age %>
</p>

<p>
  <strong>Note:</strong>
  <%= @room.note %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
