<p id="notice"><%= notice %></p>

<h1>閲覧</h1>

<p>
  <strong>物件名:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>賃料:</strong>
  <%= @room.rent %>
</p>

<p>
  <strong>住所:</strong>
  <%= @room.adress %>
</p>

<p>
  <strong>築年数:</strong>
  <%= @room.age %>
</p>

<p>
  <strong>備考:</strong>
  <%= @room.note %>
</p>

<p>
  <h4>最寄り駅1</h4>
  <strong>最寄り駅1:</strong>
  <%= @station.route_name %>
</p>

<p>
  <h4>最寄り駅2</h4>
  <strong>最寄り駅2:</strong>
  <%= @room.note %>
</p>

<%= link_to '編集', edit_room_path(@room) %> |
<%= link_to '戻る', rooms_path %>
